a{	
	list-style:none;
	color:black;
}
ul{
	list-style:none;
	}
.more{
	position:relative;
	width:100.8%;
	margin:-8px;
	margin-right:-10px;
}
///////////////
.panel {
	position:relative;
	top:70%;
	right:20%;
}

.panel a{
	text-decoration:none;
	list-style:none;
}
.panel >ul{
	margin-left:65%;
	margin-top:5%;
	width:250px;
}

.panel ul>li a{  
	display:block;
}
.panel ul>li h2{ 
	transition:all 0.4s ease;
	margin:-1.5px;
	border:3px solid Grey;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:3px;
	background:#ffcc99 ;
}
.panel ul>li a :hover{
	transition:all 0.3s ease;
	color:white;
	background: #ff8000;
}
/*История*/
.panel li>ul{
	position:absolute;
	right:23px;
	top:75px;
}
.panel li>ul li a{
	transition:all 0.4s ease;
	margin:-1.5px;
	border:3px solid Grey;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:3px;
	background:#ffcc99 ;
	width:200px;
	display:none;
}
.panel li>ul li a:hover{
	background:#ff8000;
	color:white;
}
.panel li:hover >ul a{
	display:block;
}
.krepImg{
	width:900px;
}
@media all and (max-width: 1300px){
.Text{
	margin-left:25px;
	margin-right:100px;
	font-size:20px;
}
.panel >ul{
display:none;
}

.all {
	width:525px;
	margin-left:82px;
	margin-top:-25px;
}
.krepImg{
	width:700px;
}
.Video{
	margin-left:25px;
	margin-right:100px;
	font-size:20px;
	width:700px;
}
}
@media all and (max-width: 800px){
.Text{
	margin-left:25px;
	margin-right:100px;
	font-size:20px;
}
.panel >ul{
display:none;
}

.all {
	width:445px;
	margin-left:82px;
	margin-top:-25px;
}
.krepImg{
	width:500px;
}
.Video{	
	margin-left:25px;
	margin-right:100px;
	font-size:20px;
	width:500px;
}
}
@media all and (max-width: 600px){
.all {
	width:300px;
	margin-left:82px;
	margin-top:-25px;
}
.panel >ul{
display:none;
}
.Text{
	margin-left:20px;
	margin-right:90px;
	font-size:20px;
}
.krepImg{
	width:320px;
}
}






